body {
  font-family: "Roboto", sans-serif;
  background-color: #3a4750;
}
header {
  margin: 25px;
}
h1 {
  text-align: center;
  font-size: 40px;
  padding: 15px 1em 0 2em;
  color: #3a4750;
}
form {
  display: flex;
}
.form-container {
  padding: 30px;
  background-color: #d3d6db;
  border-radius: 6px;
  margin-bottom: 15px;
}
.container {
  margin: 120px auto;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.user-input {
  padding: 10px;
  border-radius: 18px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  line-height: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 80%;
}
.submit-button {
  margin-left: 5px;
  padding: 15px 24px;
  border-radius: 18px;
  border: none;
  font-size: 14px;
  line-height: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #be3544;
  color: #ffffff;
  font-weight: bold;
}
.example {
  line-height: 1.5;
  font-size: 13px;
  margin-top: 10px;
  opacity: 0.6;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.song {
  font-size: 18px;
  background-color: #d3d6db;
  font-family: "Shadows Into Light", cursive;
  padding: 10px;
  line-height: 25px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
}
.song strong {
  color: #be3544;
}
.hidden {
  display: none;
}
footer {
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
  opacity: 0.8;
}
a {
  color: #be3544;
  font-weight: 500;
}
